.App {
  display: flex;
  height: 100%;
}
/* -------------------------------------------------------- */
.fixedDiv {
  position: fixed;
  bottom: 50px;
  right: 70px;
}
.topBtn {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  border: 0px;
  background-image: url("../img/topBtn.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  /* color: rgb(230, 230, 230); */
  /* font-size: 30px; */
  box-shadow: 5px 5px 10px rgb(181, 181, 181);
}
.topBtn:hover {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}
/* -------------------------------------------------------- */
.LeftBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 22%;
  height: 100%;
}
@media (max-width: 768px) {
  .LeftBar {
    display: none;
  }
}
.MenuBar {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.Menu {
  padding: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
}
.Menu button {
  font-family: "seoulNanum";
  transition: font-size linear 0.1s;
  width: 260px;
  height: 30px;
  background-color: rgb(245, 245, 245);
  color: rgb(77, 77, 77);
  border: 0px;
  font-size: 30px;
  text-align: left;
  margin: 30px 0px 10px 0px;
}
.Menu button:hover {
  cursor: pointer;
}
.lastUpdate {
  text-align: center;
  color: rgb(80, 80, 80);
  padding-bottom: 20px;
}

.subItem {
  margin-top: 15px;
  /* display: flex; */
  display: none;
  flex-direction: column;
}
.subItem button {
  padding-left: 20px;
  font-size: 17px;
  margin: 0;
  /* margin-bottom: 30px; */
}

/* -------------------------------------------------------- */
.vLine {
  margin: 15px 0px 15px 0px;
  border: 3px solid rgb(80, 80, 80);
}
/* -------------------------------------------------------- */
.Content {
  /* transition: margin-left linear 0.2s; */
  padding-left: 22%;
}
@media (max-width: 768px) {
  .Content {
    padding: 0px 5% 0px 5%;
    width: 700px;
  }
}

.section {
  padding: 50px;
}
@media (max-width: 768px) {
  .section {
    padding: 0px 0px 0px 15px;
    width: 90%;
  }
}

.section:nth-child(1) {
  height: 400px;
}
@media (max-width: 768px) {
  .section:nth-child(1) {
    height: 300px;
  }
}

.section:nth-child(2) {
  /* height: 100vh; */
}

.section:nth-child(3) {
  /* height: 100vh; */
}

h1 {
  font-size: 50px;
}
