.projectName {
  margin: 10px 0 15px 0;
  display: inline-block;
}

.projectDate {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: rgb(112, 112, 112);
  padding-left: 5px;
  margin: 0;
}

.projectContentTable {
  /* background-color: rgb(245, 245, 245); */
  width: 600px;
  padding: 2px;
}
.projectContentTr {
  margin: 0px;
  padding: 4px 2px 2px 2px;
  border-bottom: 1.5px solid rgb(112, 112, 112);
}
