.App {
  display: flex;
  height: 100%;
}
/* -------------------------------------------------------- */
.fixedDiv {
  position: fixed;
  bottom: 50px;
  right: 70px;
}
.topBtn {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border: 0px;
  /* color: rgb(230, 230, 230); */
  /* font-size: 30px; */
}
.topBtn:hover {
  cursor: pointer;
}
/* -------------------------------------------------------- */
.LeftBar {
  position: fixed;
  display: flex;
  width: 300px;
  height: 100%;
}
.MenuBar {
  /* background-color: rgb(20, 20, 20); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Menu {
  margin: 50px 0px 0px 30px;
}
.Menu button {
  width: 200px;
  height: 30px;
  background-color: white;
  /* color: rgb(220, 220, 220); */
  border: 0px;
  font-size: 25px;
  text-align: left;
  margin-bottom: 15px;
}
.Menu button:hover {
  cursor: pointer;
}
.lastUpdate {
  text-align: center;
  color: rgb(80, 80, 80);
  padding-bottom: 20px;
}
/* -------------------------------------------------------- */
.vLine {
  margin: 15px 0px 15px 0px;
  border: 3px solid rgb(80, 80, 80);
}
/* -------------------------------------------------------- */
.Content {
  width: 100%;
  box-sizing: border-box;
}

.section {
  margin-left: 300px;
  padding: 50px;
  position: relative;
  height: 100vh;
}
