.App {
  display: flex;
  height: 100%;
}
.LeftBar {
  position: fixed;
  display: flex;
  width: 300px;
  height: 100%;
}
.MenuBar {
  /* background-color: rgb(20, 20, 20); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: rgb(220, 220, 220);
}
.Menu {
  margin: 50px 0px 0px 30px;
}
.Menu button {
  width: 200px;
  height: 30px;
  background-color: white;
  /* color: rgb(220, 220, 220); */
  border: 0px;
  font-size: 25px;
  text-align: left;
  margin-bottom: 15px;
}
.Menu button:hover {
  cursor: pointer;
}
.lastUpdate {
  text-align: center;
}

.vLine {
  margin: 15px 0px 15px 0px;
  border: 2px solid rgb(80, 80, 80);
}

.Content {
  margin-left: 330px;
  padding: 50px;
  /* background-color: blanchedalmond; */
  width: 100%;
  box-sizing: border-box;
}

.section {
  position: relative;
  height: 100vh;
}
